In [1]:
import json
import numpy as np
import pandas as pd
from itertools import product

In [6]:
pd.read_csv("data/2022/input/skf/embeddings/darknet_features_20221021.csv").head()

,src_ip,0,1,2,3,4,5,6,7,8,...,28,29,30,31,32,33,34,35,36,label
0,97.74.81.123,0.000985,0.095483,0.058175,0.038581,0.095483,0.000000,1.000000,0.000654,0.001188,...,0.000000,0.000000,0.000000,0.0,0.000000,0.00000,0.000000,0.000000,0.000000,unknown
1,212.70.149.14,0.073892,0.000086,0.828816,0.833760,0.027512,0.845076,1.000000,0.025196,0.023357,...,0.000000,0.000000,0.000000,0.0,0.000000,0.00000,0.000000,0.000000,0.000000,unknown
2,171.22.30.185,0.000985,1.000000,0.609275,0.404066,1.000000,0.000000,0.059761,0.136126,0.276920,...,0.500000,0.500000,0.500000,0.0,0.031098,0.00221,0.022327,0.012564,0.011431,unknown
3,195.3.147.57,0.000985,0.248393,0.151339,0.100367,0.248393,0.000000,0.231076,0.000982,0.017617,...,0.000000,0.000000,0.000000,0.0,0.000000,0.00000,0.000000,0.000000,0.000000,unk_bruteforcer
4,111.7.96.132,0.407882,0.000086,0.094000,0.093683,0.000560,0.041021,1.000000,0.001309,0.004355,...,0.571429,0.571429,0.571429,0.0,0.000000,0.00000,0.000000,0.000000,0.000000,unknown

In [19]:
strats = [["features", "darknet"]]

In [20]:
jp = "data/2022/input/skf/stratification/stratification.json"
with open(jp, 'r') as fd:
    splits = json.load(fd)

In [21]:
len(splits["20221021"]["darknet"]), len(splits["20221021"]["darknet"][0])

(10, 2)

In [22]:
days = list(splits.keys())
days.sort()
days

['20221021',
 '20221022',
 '20221023',
 '20221024',
 '20221025',
 '20221026',
 '20221027',
 '20221028',
 '20221029',
 '20221030',
 '20221031']

In [24]:
iters = product(days, strats, np.arange(10))
for day, (strat, label), fold in iters:
    file_path = f"data/2022/input/skf/embeddings/darknet_{strat}_{day}.csv"
    df = pd.read_csv(file_path)
    train_ips = splits[day]["darknet"][0][0]
    test_ips = splits[day]["darknet"][0][1]
    df_train = df[df.src_ip.isin(train_ips)]
    df_test = df[df.src_ip.isin(test_ips)]
    df_train.to_csv(
        f"data/2022/input/embeddings/out/k3/train/{label}_{day}_fold0{fold}.csv"
    )
    df_test.to_csv(
        f"data/2022/input/embeddings/out/k3/test/{label}_{day}_fold0{fold}.csv"
    )

In [13]:
pd.read_csv("data/2022/input/embeddings/out/k3/test/idarkvec_20221021_fold00.csv").head()

,Unnamed: 0,src_ip,0,1,2,3,4,5,6,7,...,119,120,121,122,123,124,125,126,127,label
0,13,167.94.138.102,0.369683,-0.284392,0.476969,0.225252,0.267594,0.007837,0.350372,-0.258946,...,-0.313115,-0.110914,0.346088,-0.184072,0.100769,0.170536,0.231950,-0.216135,-0.086894,censys
1,16,167.94.138.146,0.973166,0.327908,0.408964,-0.405329,0.201091,-0.770481,0.205254,0.150497,...,-0.721444,-0.274417,0.088614,0.201077,0.219790,0.477331,0.782366,-0.167663,0.541259,censys
2,96,118.40.8.149,0.303799,0.123574,-0.065445,0.014491,-0.006129,-0.192784,0.224081,0.002180,...,-0.284267,-0.168175,0.273913,-0.130852,0.648461,0.270363,0.417247,-0.182689,0.243275,mirai
3,100,103.126.245.10,0.279131,0.134817,-0.110757,0.032304,-0.001628,-0.140394,0.072426,0.067646,...,-0.233543,-0.189130,0.160451,-0.153881,0.475746,0.156141,0.266401,-0.120939,0.089702,mirai
4,102,193.142.146.35,0.753270,0.301104,-0.153304,0.025774,-0.036375,-0.317733,0.171304,-0.308752,...,-0.513930,-0.313750,0.442024,-0.055781,0.749255,0.260944,0.485238,-0.111236,0.362787,unk_bruteforcer